<!DOCTYPE html>
<html>
<head>
	<title>Django Video Membership</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://cdn.plyr.io/3.5.6/plyr.js"></script>
	<link rel="stylesheet" href="https://cdn.plyr.io/3.5.6/plyr.css" />
</head>
<body>

	{% include 'courses/messages.html' %}

	<div class="container">
		<ol class='breadcrumb'>
	        <li><a href="{% url 'memberships:profile' %}">Profile</a></li>
	        
	        {% block post_detail_link %}
	        {% endblock %}

	        {% if not request.user.is_authenticated %}
	        <li class='pull-right'><a href='/register'>Register</a></li>
	        <li class='pull-right'><a href='/login'>Login</a></li>
	        {% else %}
	        <li class='pull-right'><a href='/memberships'>Memberships</a></li>
	        {% endif %}
	    </ol>
	</div>

	{% block content %}
	{% endblock content %}

	<script
  	src="https://code.jquery.com/jquery-3.3.1.js"
  	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  	crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>