{% extends 'courses/base.html' %}
{% load static %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Course List</h1>
				{% for object in object_list %}
					<a href="{{ object.get_absolute_url }}">{{ object }}</a href="{{ object.get_absolute_url }}">
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}