{% extends 'courses/base.html' %}

{% block post_detail_link %}
{% if object is not None %}
	<li><a class="nav-link text-white" href="{{ object.course.get_absolute_url }}">{{ object.course.title }}</a></li>
	<li>{{ object.title }}</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>Lesson Details</h1>
			{% if object is not None %}
				<h3>{{ object.title }}</h3>
				<p>{{ object.description }}</p>

				<video poster="/path/to/poster.jpg" id="player" playsinline controls>
				    <source src="{{object.video}}" type="video/mp4" />
				    <source src="{{object.video}}" type="video/webm" />

				    <!-- Captions are optional -->
				    <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
				</video>
			{% else %}
				<h5>Upgrade membership</h5>
				<p>To view this course you'll need to upgrade your membership</p>
				<br>
				<a href="{% url 'memberships:select' %}"><button class="btn btn-warning">Check out memberships</button></a>
				<hr>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}