{% extends 'courses/base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<h1>My Profile</h1>
				{% if user_subscription != None %}
					<h4>Current Membership : {{ user_membership.membership.membership_type }} <small>  since {{ user_subscription.get_created_date }}</small></h4>

					{% if user_subscription.active != False %}
						<p>Nexy payment due : {{ user_subscription.get_next_billing_date }}</p>
						<a href="{% url 'memberships:cancel' %}">Cancel current subscription</a>
					{% else %}
						<p>You don't have an active membership plan. Check them out here 
							<a href="{% url 'memberships:select' %}"></a>
						</p>
					{% endif %}

				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}